// body{
//     text-align:center;
// }

// .formWrapper{
//     display:inline-block;
//     background-color: rgba(34, 216, 131, 0.637);
//     border-radius: 5px;
//     height: auto;
//     padding: 15px 18px;
// }

form {
    max-width: 500px;
    margin: auto;

    button {
        display: block;
        margin: auto;
    }
}

p,
label {
    margin: 0;
    text-align: center;
}

input,
textarea {
    display: block;
    margin: auto;
}

textarea{
    width: 30vw;
    height: 40vh;
}

.divCheckboxWrapper {
    width: 40%;
    margin: 0 auto;
}

.checkboxWrapper {
    // justify-content: center;
    // position: relative;
    position: relative;
    left: 26px;
    display: flex;
    justify-content: space-between;

    p:first-child {
        display: block;
    }

    .checkboxLabel {
        display: inline;
    }

    input {
        margin: 0;
        position: relative;
        left: -124px;
        top: 4px;
    }
}